<div class="wrapper">
  <select *ngIf="breeds | async as dogsList" name="dogs" [(ngModel)]="selectedBreed" (change)="changeBreed()" >
    <option *ngFor="let breed of dogsList.message | keyvalue ">{{breed.key}}<option>
    </select>
    <div class ="info">
      <div class="img">
        <img *ngIf="breedImg | async as img" [src]="img.message" [alt]="selectedBreed">
      </div>
      <div class="button">
        <button (click)="changeImg()">Nowe zdjęcie</button>
      </div>
      <div class="breedContent">
        <h3>Przeczytaj więcej o tej rasie na wikipedii:</h3>
        <a [href]="wikiLink" target="_blank">{{selectedBreed}}</a>
      </div>
    </div>
  </div>